/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../src/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/sprites.sass */
.test {
  background-image: url('img/cutlery-s72dfb5a3c1.png');
  background-repeat: no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-indent: -9999px;
}
/* line 16, ../sass/sprites.sass */
.test.fork-knife-black {
  background-position: 0 -55px;
  height: 72px;
  width: 36px;
}
/* line 16, ../sass/sprites.sass */
.test.fork-knive-toque-black {
  background-position: 0 0;
  height: 55px;
  width: 55px;
}
/* line 16, ../sass/sprites.sass */
.test.small-grey {
  background-position: 0 -127px;
  height: 19px;
  width: 16px;
}
@media (min-resolution: 2 dppx), (min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2) {
  /* line 28, ../sass/sprites.sass */
  .test {
    background-image: url('img/cutlery@2x-sfaffe8e1dc.png');
    -webkit-background-size: 55px 146px;
    -moz-background-size: 55px 146px;
    -o-background-size: 55px 146px;
    background-size: 55px 146px;
  }
  /* line 25, ../sass/sprites.sass */
  .test.fork-knife-black {
    background-position: 0 -55px;
  }
  /* line 25, ../sass/sprites.sass */
  .test.fork-knive-toque-black {
    background-position: 0 0;
  }
  /* line 25, ../sass/sprites.sass */
  .test.small-grey {
    background-position: 0 -127px;
  }
}
